.charts {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  background-image: url("/images/spotlight.svg");
  background-repeat: no-repeat;

  .chart-card {
    width: 100%;
    margin-bottom: 1rem;

    &__title {
      margin-bottom: 1rem;
    }
  }
}

.recharts-tooltip-label {
  color: #303030 !important;
}
