.auto-complete {
    width: 20rem;
}

// fixing bad MUI styles from lab component
.MuiAutocomplete-endAdornment {
    right: 0.5rem !important;
    top: 0 !important;
}

// probably will move this to different component
.price-table-container {
    margin-top: 2rem;
}
